{% extends 'blog/base.html' %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<div class="container">
    <div class="right-content">
        <h1>Delete Post</h1>
        <form method="post" action="{% url 'delete_post' post_id=post.id %}">
            {% csrf_token %}
            <p>Are you sure you want to delete the post titled "{{ post.title }}"?</p>
            <button type="submit" class="auth-button">Delete</button>
            <a href="{% url 'post-detail' post_id=post.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
