{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="left-sidebar">
        {% if user.is_authenticated %}
        <div class="create-post">
            <a href="{% url 'create-post' %}" class="auth-button">Create Post</a>
        </div>
        <div class="user-details">
            <h3>Welcome, <br> {{ user.first_name }} {{ user.last_name }}</h3>
            <a href="{% url 'logout' %}" class="auth-button">Logout</a>
        </div>
        {% else %}
        <div class="login-signup">
            <a href="{% url 'login' %}" class="auth-button">Login</a>
            <a href="{% url 'signup' %}" class="auth-button">Signup</a>
        </div>
        {% endif %}
    </div>
    <div class="right-content">
        <h1>All Posts</h1>
        {% for post in posts %}
        <div class="post">
            <p class="post-meta">
                By: {{ post.author.username }}
                <br>
                {{ post.created_at|date:"F j, Y" }}
            </p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <div class="comments">
                {% for comment in post.comments.all %}
                <div class="comment">
                    <p class="comment-meta">
                        {{ comment.author.username }}: {{ comment.text }}
                    </p>
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
            {% if user == post.author %}
            <a href="{% url 'update_post' post.id %}" class="auth-button">Update</a>
            <a href="{% url 'delete_post' post.id %}" class="auth-button">Delete</a>
            {% endif %}
            <form action="{% url 'add-comment' post.id %}" method="post">
                {% csrf_token %}
                <textarea name="text" rows="3" placeholder="Add a comment..." class="form-control"></textarea>
                <button type="submit" class="auth-button">Add Comment</button>
            </form>
            {% else %}
            <p><a href="{% url 'login' %}" class="auth-button">Login</a> to add a comment.</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
