{% extends 'blog/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div>
        {{ form.password.label_tag }} {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit" class="auth-button">Sign Up</button>
</form>
{% endblock %}
