<!-- post_list.html -->
{% extends 'home.html' %}

{% block content %}
<h1>Post List</h1>
<ul>
    {% for post in posts %}
    <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
        {% if user.is_authenticated %}
        <form action="{% url 'add-comment' post.pk %}" method="post">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Add a comment">
            <button type="submit">Submit</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
